/* 
    font-family: 'PT Sans Narrow', sans-serif;

    font-family: 'Roboto', sans-serif;
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(15, 1, 56);
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1532px;
    width: 90%;
    margin: 0 auto;
}

.header {
    padding: 20px 0px 20px 0px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_anchor {
    display: flex;
    align-items: center;
}

.header_anchor span {
    margin-left: 15px;

    color: #fff;

    font-weight: bold;
}

.header_anchor img {
    width: 80px;
}

.header_info {
    display: flex;
    align-items: center;
}

.header_info span {
    color: #fff;
    font-size: 20px;
    font-weight: normal;

    margin-right: 15px;
}

.header_info img {
    width: 60px;
}

.main {
    padding: 30px 0px 30px 0px;
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.menu_item:not(:last-child) {
    margin-bottom: 30px;
}

.menu_link {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu_link img {
    width: 70px;
    margin-bottom: 10px;
    filter: brightness(0) invert(1);
    transition: all 1.3s ease-in-out;
}
.menu_link img:hover {
    filter: brightness(0) saturate(100%) invert(63%) sepia(64%) saturate(1237%) hue-rotate(330deg) brightness(101%) contrast(101%);
}
.menu_link span {
    text-align: center;

    font-size: 18px;
    color: #fff;
    font-weight: bold;
    line-height: 130%;
}



.content {
    background-color: #2e2e2e;
    padding: 10px;
    display: flex;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
}

.content_item {
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

.part_header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.part_header img {
    margin-right: 10px;
}
.reminders_header {
    filter: brightness(0) saturate(100%) invert(15%) sepia(36%) saturate(7433%) hue-rotate(245deg) brightness(83%) contrast(112%);
}
.schedule_header {
    filter: invert(9%) sepia(96%) saturate(5713%) hue-rotate(276deg) brightness(84%) contrast(133%);
}
.grades_header {
    filter: invert(11%) sepia(97%) saturate(4976%) hue-rotate(315deg) brightness(105%) contrast(108%);
}
.career_header {
    filter: invert(77%) sepia(65%) saturate(3781%) hue-rotate(6deg) brightness(109%) contrast(110%);
}

.content_leftSide {
    width: 40%;
    background-color: #616161;
    padding: 10px;
}

.leftSide_reminders {
    margin-bottom: 15px;
}

.leftSide_reminders li {
    list-style-type: none;
    padding-left: 20px;
}
.leftSide_reminders li:not(:last-child) {
    margin-bottom: 10px;
}

.group_info {
    display: flex;
    align-items: center;
    background-color: #4a0091;
    color: #fff;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;
    font-size: 18px;
    justify-content: center;
    background-image: url(../img/group.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 20px;
    background-position-y: 5px;
}

.group_info img {
    width: 40px;
    margin-right: 15px;
}

.schedule_main {
    background-color: #d4a6ff;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
}

.schedule_main_date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}

.schedule_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    overflow-y: scroll;
}

.schedule_list{
    width: 100%;
    font-size: 18px;
}
.schedule_item {
    display: flex;
    justify-content: space-between;
    border: 3px solid #40007c;
    background-color: #8b41d1;
    padding: 5px;
    width: 100%;
    align-items: center;
}

.schedule_item:not(:last-child) {
    margin-bottom: 10px;
}

.schedule_item_time {
    min-width: 107px;
}
.schedule_item_name {
    max-width: 60%;
}

.content_rightSide {
    width: 59%;
}

.rightSide_top {
    background-color: #616161;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.top_element {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    width: 49%;
    font-size: 14px;
}
.top_element li{
    list-style-type: none;
}
.top_element li:not(:last-child){
    margin-bottom: 10px;
}

.rightSide_bottom {
    background-color: #616161;
    padding: 10px;
    margin-top: 15px;
}
.bottom_news {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_news_wrapper {
    max-height: 800px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_news img {
    width: 95%;
}

.bottom_news p {
    display: block;
    text-indent: 50px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    padding: 5px;
}

.news_header img{
    width: auto
}
.news_header {
    display: flex;
    align-items: center;
    filter: invert(53%) sepia(32%) saturate(2978%) hue-rotate(64deg) brightness(101%) contrast(101%);
}